<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': mapView == true}" (click)="changeView('map')">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': mapView == false}" (click)="changeView('list')">List</a>
  </li>
</ul>

<div class="tab-content">
	<ng-container *ngIf="mapView">
		<div class="map" #mapElement class="match-parent"></div>
		</ng-container>
	<!-- </div> -->

  <div *ngIf="!mapView" class="table-responsive">
    <table class="table table-striped table-bordered table-responsive">
      <thead>
      <tr>
        <th>Agency</th>  
        <th>Chapter Name</th>  
        <th>Office Type</th>  
        <th>Main Contact</th>  
        <th>Email</th>  
        <th>Eddress</th>     
        <th>City</th>     
        <th>State</th>     
        <th>ZIP</th>     
        <th>Lat</th>     
        <th>Long</th>     
        <th>Elevation</th>     
        <th>Plus Code</th>     
        <th>Phone 2</th>     
        <th>NN Branch</th>     
        <th>Divsion</th>     
        <th>Chapter LGA</th>     
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of csvData; let i = index">
        <td>{{item.agency}}</td> 
        <td>{{item.chapterName}}</td> 
        <td>{{item.officeType}}</td> 
        <td>{{item.mainContact}}</td> 
        <td>{{item.email}}</td> 
        <td>{{item.address}}</td>    
        <td>{{item.city}}</td>    
        <td>{{item.state}}</td>    
        <td>{{item.ZIP}}</td>    
        <td>{{item.lat}}</td>    
        <td>{{item.long}}</td>    
        <td>{{item.elevation}}</td>    
        <td>{{item.plusCode}}</td>    
        <td>{{item.phone2}}</td>    
        <td>{{item.nnBranch}}</td>    
        <td>{{item.divsion}}</td>    
        <td>{{item.chapterLGA}}</td>    
      </tr>
      </tbody>
      
    </table>
	</div>
</div>
