<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': mapView == true}" (click)="changeView('map')">Map</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="{'active': mapView == false}" (click)="changeView('list')">List</a>
  </li>
</ul>

<div class="tab-content">
	<ng-container *ngIf="mapView">
    <div id='menu'>
        &nbsp;
        <input id='streets-v11' (click)="switchLayer('streets-v11')" type='radio' name='rtoggle' value='streets' checked='checked'>
        <label for='streets'>Street</label>&nbsp;
        <input id='satellite-v9' (click)="switchLayer('satellite-v9')" type='radio' name='rtoggle' value='satellite'>
        <label for='satellite'>Satellite</label>
    </div>
		<div class="map" #mapElement class="match-parent"></div>
	</ng-container>
	<!-- </div> -->

  <div *ngIf="!mapView" class="table-responsive">
    <table class="table table-striped table-bordered table-responsive">
      <thead>
      <tr>
          <th>Code</th>
          <th>Latitude Structure</th>
          <th>Longitude Structure</th>
          <th>Elevation Structure</th>
          <th>Owner Structure</th>
          <th>Structure Type</th>
          <th>Height</th>
          <th>City</th>
          <th>State</th>
          <th>ZIP</th>
          <th>County</th>
          <th>Plus Code</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of csvData; let i = index">
          <td>{{item.code}}</td>
          <td>{{item.lat}}</td>
          <td>{{item.long}}</td>
          <td>{{item.elevation}}</td>
          <td>{{item.owner}}</td>
          <td>{{item.strucType}}</td>
          <td>{{item.height}}</td>
          <td>{{item.city}}</td>
          <td>{{item.state}}</td>
          <td>{{item.ZIP}}</td>
          <td>{{item.county}}</td>
          <td>{{item.plusCode}}</td>
      </tr>
      </tbody>
      
    </table>
	</div>
</div>
