<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img class="user-avatar" src="assets/images/logo.png" width="150px" />
            <h1>Navajo Mapping</h1>
            <form role="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" formControlName="firstName" class="form-control input-underline input-lg" placeholder="{{ 'First Name' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="lastName" class="form-control input-underline input-lg" placeholder="{{ 'Last Name' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="text" formControlName="email" class="form-control input-underline input-lg" placeholder="{{ 'Email' | translate }}">
                    </div>

                    <div class="form-group">
                        <input type="password" formControlName="password" class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}">
                    </div>
                    <div class="form-group">
                        <input type="text" formControlName="reason" class="form-control input-underline input-lg" placeholder="{{ 'Reason to signup' | translate }}">
                    </div>
                    <!-- <div class="form-group">
                        <input type="password" class="form-control input-underline input-lg" id="" placeholder="{{ 'Repeat Password' | translate }}">
                    </div> -->
                </div>
                <a [routerLink]="['/login']" class="btn rounded-btn">{{ 'Cancel' | translate }}</a>&nbsp; &nbsp;
                <button class="btn rounded-btn" (onClick)="onSubmit()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{ 'Register' | translate }}
                </button>

                <!-- <a class="btn rounded-btn">{{ 'Register' | translate }}</a>&nbsp; -->
                <!-- <a class="btn rounded-btn" [routerLink]="['/dashboard']" [routerLink]="['/login']">{{ 'Log in' | translate }}</a> -->
            </form>
        </div>
    </div>
</div>
